<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>
    <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/assets/css/<%= css %>.css" />
</head>

<body>
  <div class="container">
    <div class="flex-row container-inner">
      <div class="left-container">
        <div class="app-name">
          <a href="/">
            <h1 class="app-name__text">ỨNG DỤNG QUẢN LÝ NHÂN VIên</h1>
          </a>
          <div class="app-menu">
            <div class="mobile-menu"><span class="line1"></span><span class="line2"></span><span class="line3"></span>
            </div>
          </div>
        </div>

        <nav>
          <ul>

            <li class="nav-item">
              <a class="nav-link" href="/attendance">
                <div class="feature-icon onboarding"></div>
                <div class="feature-name">
                  <h2>Điểm danh bắt đầu/ Kết thúc làm</h2>
                </div>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/edit-user/<%= user._id %>">
                <div class="feature-icon user"></div>
                <div class="feature-name">
                  <h2>Xem/ Sửa thông tin cá nhân</h2>
                </div>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/statistic">
                <div class="feature-icon lookup">
                </div>
                <div class="feature-name">
                  <h2>Tra cứu thông tin giờ làm - lương</h2>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/attendance-details">
                <div class="feature-icon confirm"></div>
                <div class="feature-name">
                  <h2>Xác nhận dữ liệu giờ làm</h2>
                </div>
              </a>
            </li>




            <li class="nav-item">
              <a class="nav-link" href="/covid">
                <div class="feature-icon covid"></div>
                <div class="feature-name">
                  <h2>Thông tin Covid cá nhân</h2>
                </div>
              </a>
            </li>


          </ul>
        </nav>
      </div>
      <div class="right-container">